<template name="verifyemail">
    {{> sAlert}}
    <form role="form" class="splashForm" id="verify">
        <div class="form-group">
            <input type="email" name="emailAddress" class="headerEmail" id="headeremail"
                   placeholder="sign-up-for-beta@email-address.com" style="width: 300px"/>
            <input type="button" class="btn btn-primary" value="✓" id="verifyButton"/>
        </div>
    </form>
</template>

<template name="checkemail">
 <h1>Please check your email</h1>
 <p>Once you verify you can do amazing things!</p>
</template>

<template name="verified">
 <h1>Thank you for verifying your email address!</h1>
 <p> Welcome to Keepspace</p>
</template>


<template name="beta_email_invite">
     <div class="signOptions" id="navSignupOption" style="display:none">
        {{> sAlert}}
        <form id="verify" role="form">
           <div class="form-group">
                <!-- <input class="loginForm" id="navSignupEmail" type="email" name="emailAddress"
                       placeholder="your e-mail"> -->
                <div class="group">      
                    <input name="emailAddress" class="loginForm" id="navSignupEmail" type="email" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label id="loginEmailLabel">Email</label>
                </div>
                <br>
               <a class="waves-effect waves-light btn signup-button-2 signupButtons" id="signupButton"><i></i></a>
                <!-- <img style="margin-top:5%; margin-bottom:5%;" src="images/signupbutton.png" id="signupButton"> -->
               <br>
                <p style="color: rgba(0, 0, 0, 0.5); display: inline-block;">or</p>
            </div>
        </form>
        <a class="waves-effect waves-light btn facebook-button" id="facebookSignButton" style="margin-bottom: 10px;"><i></i></a>
        <!-- <img style="margin-bottom:2%;" src="images/signupwithfbbutton.png" class="landingButton" id="facebookSignButton"> -->
    </div> 
    <div class="signOptions" id="signHereOption" style="display:none">
    	{{> sAlert}}
      	<p style="margin-top: 5%;" class="getStarted" >Get Started. It's so easy.</p>
      	<!-- <input class="loginForm" id="signupEmail" type="username" name="userName"
      	placeholder="your e-mail"> -->
      	<form id="verifySignup" role="form">
	      	<div class="group">      
		      	<input name="emailAddress" id="splashSignInput" class="signupEmail" type="email" required>
		      	<span class="highlight"></span>
		      	<span id="splashSignBar" class="bar"></span>
		      	<label id="signupLabel">Email</label>
		      </div>
		    <a class="waves-effect waves-light btn signup-button-2 signupButtons" id="signupButton"><i></i></a>
		</form>
      	<br>
      	<!-- <img src="images/signupbutton.png" class="signupButtons" id="homeSignupButton"> -->
    </div>	
</template>